#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/input_transform.h>

&pro_micro_i2c {
    status = "okay";

    trackpad: iqs5xx@74 {
        compatible = "azoteq,iqs5xx";
        reg = <0x74>;
        
        /* 핀 설정 (Nice!Nano P1.01, P1.02) */
        reset-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
        int-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;

        /* 설정 */
        press-and-hold;
        press-and-hold-time = <250>;
    };
};

/* 입력 리스너 (최신 ZMK 필수) */
/ {
    input_listener {
        compatible = "zmk,input-listener";
        device = <&trackpad>;
        xy-swap; /* 방향 전환 */
        y-invert;
        x-invert;
        scale-multiplier = <1>;
    };
};
