/* config/corne.overlay */
/* SuperMini NRF52840 "Face Up" (칩이 보임) 전용 핀맵 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,matrix-transform = &default_transform;
    };

    default_transform: keymap_transform {
        compatible = "zmk,matrix-transform";
        rows = <4>;
        columns = <6>;

        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)
                        RC(3,2) RC(3,3) RC(3,4)
        >;
    };
};

&kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    wakeup-source;
    diode-direction = "col2row";

    /* * [Face-Up 매트릭스 수정]
     * PCB의 Row 구멍(오른쪽 헤더)은 -> MCU의 왼쪽 핀(D2~D5)에 연결됨
     */
    row-gpios
        = <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* D2 (Row 0) */
        , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* D3 (Row 1) */
        , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* D4 (Row 2) */
        , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* D5 (Row 3) */
        ;

    /* * PCB의 Col 구멍들은 MCU의 나머지 핀들에 연결됨
     * Col 0~3 (오른쪽 헤더) -> MCU 왼쪽 핀 (D6~B5)
     * Col 4~5 (왼쪽 헤더)   -> MCU 오른쪽 핀 (16, 10)
     */
    col-gpios
        = <&pro_micro 6 GPIO_ACTIVE_HIGH>  /* D6 (Col 0) */
        , <&pro_micro 7 GPIO_ACTIVE_HIGH>  /* D7 (Col 1) */
        , <&pro_micro 8 GPIO_ACTIVE_HIGH>  /* B4 (Col 2) */
        , <&pro_micro 9 GPIO_ACTIVE_HIGH>  /* B5 (Col 3) */
        , <&pro_micro 16 GPIO_ACTIVE_HIGH> /* 16 (Col 4) */
        , <&pro_micro 10 GPIO_ACTIVE_HIGH> /* 10 (Col 5) */
        ;
};

/* 배터리 센서 설정 유지 */
/ {
    chosen {
        zmk,battery = &vbatt;
    };
    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};
