#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/input_transform.h> // 필수 포함

&pro_micro_i2c {
    status = "okay";

    trackpad: iqs5xx@74 {
        compatible = "azoteq,iqs5xx";
        reg = <0x74>;
        
        /* 핀 설정 (사용자 환경에 맞게 유지) */
        reset-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
        rdy-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;

        /* 하드웨어 설정 */
        press-and-hold;
        press-and-hold-time = <250>;
    };
};

/* 입력 리스너 (여기가 에러 원인이었음 -> 수정됨) */
/ {
    input_listener {
        compatible = "zmk,input-listener";
        device = <&trackpad>;
        
        /* * [최신 방식] input-processors를 사용하여 방향 설정 
         * xy-swap -> &zip_xy_swap
         * y-invert -> &zip_invert_y
         * x-invert -> &zip_invert_x
         */
        input-processors = <&zip_xy_swap>, <&zip_invert_x>, <&zip_invert_y>;
    };
};
