/ {
    chosen {
        /* 동글은 실제 키 스캔을 하지 않으므로 mock kscan만 지정 */
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};
